.pianoKey {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: end;
    cursor: pointer;
    padding-bottom: 1.5em;
}

.pianoKey--white {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    font-size: var(--fs-base);
}

.pianoKey--white:hover {
    background-color: var(--color-secondaryHover);

}
.pianoKey--black {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    /* border: 1px solid var(--color-secondary); */
    height: 60%;
    z-index: 1;
    font-size: var(--fs-xs);
    border-radius: 0px 0px 4px 4px; 
}

.pianoKey--black:hover {
    background-color: var(--color-primaryHover);
}

.pianoKey--pressed {
    top: 5px;
    position: relative;
}

.pianoKey--pressed.pianoKey--white {
    background: linear-gradient(90deg, rgba(179,179,179,1) 0%, rgba(233,233,233,1) 5%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 70%, rgba(233,233,233,1) 95%, rgba(179,179,179,1) 100%);
}

.pianoKey--pressed.pianoKey--black {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 50%, rgba(0,0,0,1) 100%); 
}