.piano {
	height: 22rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(208, var(--fs-sm));
	grid-template-rows: 1fr;
	overflow-x: scroll;
	width: 90%;
    border-radius: 12px;
	scrollbar-width: thin; 
    scrollbar-color: var(--color-accent) var(--color-primary);
	overflow-y: hidden;
}
