@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {

    /* COLOR */

    --color-primary: #1a1a1a;
    --color-primaryHover: #3a3a3a;
    --color-primaryPressed: #696969;
    --color-secondary: #FFFFFF;
    --color-secondaryHover: #eeeeee;
    --color-secondaryPressed: #8b8b8b;
    --color-terciary: #3b3b3b;
    --color-accent: #e33333;

    /* FONT-FAMILY */

    --font-primary: "Nunito", serif;

    /* FONT-WEIGHT */

    --fw-thin: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 800;

    /* FONT-SIZE */

    --fs-xs: clamp(0.64rem, 0.04vi + 0.63rem, 0.67rem);
    --fs-sm: clamp(0.8rem, 0.13vi + 0.77rem, 0.89rem);
    --fs-base: clamp(1rem, 0.27vi + 0.95rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.48vi + 1.15rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 0.79vi + 1.4rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.23vi + 1.7rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 1.88vi + 2.06rem, 3.75rem);
    --fs-xxxl: clamp(3.05rem, 2.79vi + 2.48rem, 5rem);

    /* SPACINGS */

    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-sm: 0.75rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-xxl: 4rem;

}